---
---
@import "{{ site.theme }}";
header {
  width:290px;
  img {
    border-radius: 50%;
    min-height: 120px;
    max-height: auto;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}